<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>OpenEmulator</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>emulation</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Emulation.icns</string>
			<key>CFBundleTypeName</key>
			<string>OpenEmulator Emulation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
				<string>aifc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFF Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/wav</string>
				<string>audio/x-wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Waveform Audio</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WAV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Vorbis File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oga</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsk</string>
				<string>do</string>
				<string>d13</string>
				<string>po</string>
				<string>cpm</string>
				<string>nib</string>
				<string>v2d</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DiskImage525.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple II 5.25&quot; Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vdsk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DiskImage35.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple II 3.5&quot; Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>2img</string>
				<string>2mg</string>
				<string>sdk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DiskImage.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple II Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d64</string>
				<string>g64</string>
				<string>d71</string>
				<string>d81</string>
				<string>t64</string>
				<string>tap</string>
				<string>prog</string>
				<string>p00</string>
				<string>crt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DiskImage525.icns</string>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fdi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DiskImage.icns</string>
			<key>CFBundleTypeName</key>
			<string>Formatted Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>img</string>
				<string>hdv</string>
				<string>hfv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DiskImage.icns</string>
			<key>CFBundleTypeName</key>
			<string>Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iso</string>
				<string>cdr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DiskImage.icns</string>
			<key>CFBundleTypeName</key>
			<string>ISO Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>OpenEmulatorHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>OpenEmulator Help</string>
	<key>CFBundleIconFile</key>
	<string>OpenEmulator.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.openemulator.OpenEmulator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>opem</string>
	<key>CFBundleVersion</key>
	<string>${BUILD_NUMBER}</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009-2010, The OpenEmulator Team</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://www.openemulator.org/updates/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle_dsa_pub.pem</string>
</dict>
</plist>
